[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw/tree/b4b43190ce623f1a75c94f7100c2d5b0b7bbb4f8
[submodule "GameEngine/vendor/imgui"]
	path = GameEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui/tree/0ecca3bd130303d7b5f9322e6324fdce2efb30f8
